{% extends 'partials/base.html' %}
{% block title %}
메모 목록
{% endblock title %}
{% block content %}
    <div>
        <ul>
        {% for article in article_list %}
            <li><a href="/community/view_detail/{{ article.id }}">{{ article.title }}</a> | {{ article.name }} | {{ article.cdate|date:"Y년 M d일 D" }}</li>
        {% endfor %}
        </ul>
    </div>
    {% if user.is_active %}
    <p><a href="{% url 'community:change_list' %}">변경 가능 리스트</a>&nbsp;&nbsp;<a href="{% url 'community:write' %}">메모글 작성</a></p>
    {% endif %}
{% endblock content %}