<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    {% for article in latest_article_list %}
        <li> <a href="/view_detail/{{ article.id }}"></a> {{ article.title }} |{{ article.name }} | {{ article.cdate|date:"Y년 M d일 D" }}  </li> 
    {% endfor %}
    </ul>
    <button><a href="/write">메모작성하기</a></button>

</body>
</html>